<div id="home-banner">
  <div id="title">
    <h1>Ed's Cocktails</h1>
    <p>
      <span id="typed-text"></span>
    </p>
  </div>
</div>

<%= link_to "Create a new cocktail", new_cocktail_path  %>

<% @cocktails.each do |cocktail| %>
  <p> <%= link_to cocktail.name, cocktail_path(cocktail)  %></p>
<% end %>
